html,
body {
	height: 100%;
}

body {
	margin: 0px;
	background-color: rgb(10, 10, 10);
	display: grid;
	justify-content: center;
	align-content: center;
	user-select: none;
}

canvas {
	cursor: crosshair;
	background-color: black;
	// background: linear-gradient(15deg, #303346, #3241b4);
	// filter: blur(10px) contrast(10px);
	// filter: hue-rotate(90deg);
}