body {
	margin: 0px;
	background-color: black;
	display: flex;
	user-select: none;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	cursor: none;
	// background: linear-gradient(15deg, #303346, #3241b4);
	// filter: blur(10px) contrast(10px);
}

.menu-item {
	width: 100px;
	height: 25px;
	// border-radius: 4px;
	background-color: black;
	color: white;
	text-align: center;

	&:hover {
		border-color: white;
	}
}

button.menu-item {
	border-color: gray;
}

select:focus {
	outline: none;
}