html,
body {
	margin: 0px;
	height: 100%;
	background: rgb(25, 25, 25);
	display: grid;
}

canvas {
	position: absolute;
	justify-self: center;
	align-self: center;
	width: 75% / 1.6;
	height: 75%;
	background-color: black;
}