body {
	margin: 0px;
	background-color: black;
	display: flex;
	cursor: none;
	user-select: none;
}

#root {
	display: flex
}

#menu {
	margin: 16px;
	position: fixed;
	top: 0;
	right: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
}

.menu-item {
	width: 100px;
	height: 25px;
	background-color: black;
	color: white;
	text-align: center;
}

.menu-item:hover {
	border-color: white;
}

button.menu-item {
	border-color: grey;
}

select:focus {
	outline: none;
}